
body{
    background-color: black;
}

.btn1{
    width: 200px;
    height: 60px;
    background-color: black;
    color: white;
    font-size: 20px;
    font-weight: 400;
    border: 2px solid yellow;
    border-radius: 3px;
    box-shadow:inset 30px 0  0 0 yellow;
    transition: 0.6s linear;
}
.btn1:focus{
    outline: none;
    box-shadow: none;
    background-color: yellow;
    font-style: italic;
    font-weight: 500;color: black;
}
.btn1:hover{
    box-shadow: inset 200px 0  0 0 yellow;
    font-style: italic;
    font-weight: 500;
}

.btn2{
    width: 200px;
    height: 60px;
    background-color: black;
    color: white;
    font-size: 20px;
    font-weight: 400;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: 0.5s linear;
    border: 1px solid yellow;

}
.btn2::before{
    content: '';
    position: absolute;
    right: 0;
    left: 0;
    bottom: 50%;
    top: 50%;
    opacity: 0;
    background-color: yellow;
    transition: 0.4s linear;
    transform: rotate(-45deg);
}
.btn2:hover::before{
    bottom:-20px;
    top: -20px;
    left: -3px;
    right: -3px;
    opacity: 1;
    z-index: -1;
    font-weight: 500;


}

.btn3{
    width: 200px;
    height: 60px;
    background-color: black;
    color: white;
    font-size: 20px;
    font-weight: 400;
    position: relative;
    z-index: 1;
    overflow: hidden;
    border: 2px solid yellow;

}
.btn3::before{
    content: '';
    position: absolute;
    right: 0;
    left: 0;
    bottom: 50%;
    top: 50%;
    opacity: 0;
    background-color: yellow;
    transition: 0.4s linear;
    transform: rotate(45deg);
}
.btn3:hover::before{
    bottom:-20px;
    top: -20px;
    opacity: 1;
    z-index: -1;
    font-weight: 500;


}

.btn4 {
    width: 200px;
    height: 60px;
    background-color: black;
    color: white;
    position: relative;
    transition: 0.6s linear;
    z-index: 1;
    font-size: 20px;
    border: 3px solid aqua;
}
.btn4::before {
    content: '';
    background-color: aqua;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 50%;
    opacity: 0;
    transition: 0.6s linear;
}
.btn4:hover::before {
    top: 0;
    right: -3px;
    bottom: -2px;
    z-index: -1;
    opacity: 1;

}


.btn5 {
    width: 200px;
    height: 60px;
    background-color: black;
    color: white;
    position: relative;
    transition: 0.6s linear;
    z-index: 1;
    font-size: 20px;
    border: 3px solid aqua;
}
.btn5::before {
    content: '';
    background-color: aqua;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.6s linear;
}
.btn5:hover::before {
    left: 0;
    right: -1px;
    bottom: -3px;
    z-index: -1;
    opacity: 1;


}


.btn6{
    width: 180px;
    height: 55px;
    position: absolute;
    top: 58%;
    left: 60%;
    transform: translate(-50%,-50%);
    cursor: pointer;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    font-size: 1.1rem;
    font-weight: 700;
    outline: none;
    display: inline-block;
}
.btn6::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffe53b;
    background-image: linear-gradient(147deg,#ffe53b 0%,#ff2525 74%);
    z-index: -1;
    clip-path: circle(0% at 50% 100%);
    transition: all .8s;
}
.btn6:hover::before{
    clip-path: circle(100% at 50% 100%);
}

.button7{
    width: 200px;
    height: 60px;
    position: absolute;
    top: 60%;
    left: 30%;
    transform: translate(-50% ,-50%);
    overflow: hidden;
}
.btn7{
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid white;
    outline: none;
    cursor: pointer;
    color: white;
    font-size: 1.4rem;
}
.bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 25%;
    height: 100%;
    background: #ea2c62;
    z-index: -1;
    transform: translateY(100%);
    transition: all .4s;
}
.bg:nth-child(2){
    border-radius: 5px 0 0 5px;
}
.bg:nth-child(3){
    left: 50px;
    transition-delay: .1s;
}
.bg:nth-child(4){
    left: 100px;
    transition-delay: .2s;
}
.bg:nth-child(5){
    left: 150px;
    transition-delay: .3s;
    border-radius: 0 3px 3px 0;
}
.button7:hover .bg{
     transform: translateY(0);
 }

.btn8{
    background: linear-gradient(to right, #240b36, #c31432);
    width: 180px;
    height: 50px;
    border: none;
    font-size: 1.3rem;
    color: white;
    cursor: pointer;
    border-radius: 0 25px;
    position: relative;
    transition: all .8s;
}
.btn8:hover{
    border-radius: 25px  0;
}
.btn8::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to right, #240b36,#c31432);
    width: 100%;
    height: 100%;
    filter: blur(22px);
    transform: scale(0.9, 0.8)translateY(20px);
    z-index: -1;
    opacity: 0;
    transition: all .6s;
}
.btn8:hover::before{
    opacity: 1;
}


.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.button{margin:0;}
.main{
    height: 100vh;
}
.btn9{
    width: 150px;
    height: 45px;
    position: relative;
    cursor: pointer;
    transition: all .4s;
}
.btn9:hover{
    background: #7b21d6;
    transition-delay: .8s;
    color: white;
    font-size: 1.2rem;
}
.d1,.d2{
    position: absolute;
    width: 100%;
    height: 4px;
    background: #7b21d6;
    transform: scaleX(0);
    transition: all .4s;
    transition-delay: .4s;
}
.d1{
    top: 0;
    transform-origin: left;
}
.d2{
    bottom: 0;
    transform-origin: right;
}
 .btn9:hover .d1, .btn9:hover .d2{
     transform: scaleX(1);
     transition-delay: .0s;
 }
 .d3,.d4{
     width: 4px;
     height: 100%;
     position: absolute;
     background: #7b21d6;
     transform: scaleY(0);
     transition:all .4s;
 }
 .d3{
     left: 0;
     transform-origin: bottom;
 }
.d4{
     right: 0;
     transform-origin: top;
 }
.btn9:hover .d3,.btn9:hover .d4{
    transform: scaleY(1);
    transition-delay:.4s;
}

